*.DS_Store

# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
*.tsbuildinfo.*

# Output of the TypeScript compiler
dist/

# Visual Studio Code directory
.vscode/

# Editor configuration
*.editorconfig

# macOS
.DS_Store

# Windows
Thumbs.db

# Test coverage directory
coverage/

# npm
npm-debug.log*
npm-debug.log
